@import "tailwindcss";

@layer base {
  html {
    direction: rtl;
  }

  body {
    font-family: system-ui, sans-serif;
  }
}

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
